* {
    margin: 0; /* zerar a margem de todos os elementos */
    padding: 0; /* zerar o espaçamento interno de todos os elementos */
    box-sizing: border-box; /* incluir padding e borda no cálculo do tamanho do elemento */
}

html::-webkit-scrollbar{
    width: 0.5rem;

}
html::-webkit-scrollbar-track{
    background: transparent;

}
html::-webkit-scrollbar-thumb{
    background-color: rgb(110, 31, 104);
    border-radius: 6rem;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #5a1f55; /* cor de fundo */
    color: #fff; /* cor do texto */
    text-align: center; /* alinhamento centralizado */
    padding-top: 20px; /* espaçamento interno superior */
    padding-bottom: 20px; /* espaçamento interno inferior */
    padding-left: 20px; /* espaçamento interno esquerdo */
    padding-right: 20px; /* espaçamento interno direito */
}

header h1 {
    margin-bottom: 10px; /* Define um espaçamento inferior */
    margin-left: 100px;
    margin-top: -5px;
    float: left;
}

header {
    background-color: #5d2761;
    color: #fff;
    
    /* assim (cima, baixo, esquerda, direita) */
    /* padding: 20px 20px 20px 20px; */

    /* ou 20px em todas as direções */
    padding: 20px;
}






nav ul {
    list-style: none; /* Remove a bolinha da lista */
}

nav li {
    display: inline; /* Faz com que os itens da lista fiquem na mesma linha */
    margin-right: 20px; /* Define um espaçamento entre os itens */
    padding: 4px 12px ;
}

nav a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #f3eded; /* Define a cor do texto */
    font-weight: bold; /* Define o peso da fonte */
}


nav li {
    transition: all 1s ease;
}

nav ul li:hover {
    background-color: rgb(45, 5, 58);
    border-radius: 12px;
    padding: 4px 12px;

    transition: all 1s ease;
}

nav ul li a:hover {
    color: rgb(255, 255, 255);

    transition: all 0.5s ease;
}

